body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("bg.jpg");
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color:#e16aaa;
    box-shadow: 0px 0px 10px rgb(193, 10, 74);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #fc8181;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #c70861;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #a30a69;
}
.cool-button {
    position: absolute;
    bottom: auto;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 215, 240);
    color: rgb(198, 108, 160);
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

.cool-button:hover {
    background-color:#e147a8
}
.back,
a {
    float: left;
    background-color: rgb(143, 10, 81);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}